name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  test-unit:
    uses: ./.github/workflows/test-unit.yaml

  test-format:
    uses: ./.github/workflows/test-format.yaml

  test-lint:
    uses: ./.github/workflows/test-lint.yaml

  test-can-build:
    uses: ./.github/workflows/test-can-build.yaml
